<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Birthday</title>
</head>
<body>
    <form >
        <input type="text" name="name" placeholder="enter your name">
        <button type="submit"> submit</button>
        
    </form>
   <button onclick="btn()">go</button>
   <h1><%= name %></h1>
   <h1><%= alt %></h1>
   <button onclick="shareOnWhatsApp('<%= name %>', '<%= alt %>')">Share on WhatsApp</button>

<script>
function shareOnWhatsApp(content, url) {
  const message = `Check out this content: ${content}\n${url}`;
  const encodedMessage = encodeURIComponent(message);
  const shareURL = `https://api.whatsapp.com/send?text=${encodedMessage}`;
  window.open(shareURL, '_blank');
}
</script>
   </script>
</body>
</html>